body {
  margin: 0;
  padding: 0;
}


.enemy-missile {
  position: absolute;
}

.player-missile {
  position: absolute;
}

#container {
  height: 800px;
  width: 1200px;
  background-color: lime;
}

#game-board {
  height: 700px;
  width: 1150px;
  background-color: lime;
}

#scoreboard {
  font-size: 50px;
  position: absolute;
  left: 1200px;
  top: 0px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  color: black;
}

canvas {
  background-color: orange;
  margin: 0;
  /*border: 2px solid black;*/
}
